@import "lib/reboot";
@import "lib/mixins";
@import "lib/buttons";
@import "lib/fonts";
@import "lib/header";
@import "lib/blocks";
@import "lib/main";
@import "lib/login";
@import "lib/circles";
@import "lib/animations";
@import "lib/media";

* {
  font-family: 'Montserrat', 'Roboto', serif;
  @include regular-text;
  color: $text-color;
}

::selection {
  background-color: $secondary-color;
  color: white;
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 8px;
  }
}

p, h1, h2, h3, h4, h5, h6, label {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

}

input {
  font-size: 16px;
}

svg, img {
  max-width: 100%;
  height: auto;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.erosion-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: .5s ease;

  &--hide {
    backdrop-filter: blur(0);
  }
}